* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.animation {
  position: relative;
  width: 720px;
  height: 405px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://ex.smnarnold.com/spritesheet/venom/bg.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0 0;
}

.btn {
  background-color: #d3cf2e;
  position: absolute;
  top: 20px;
  left: 50%;
  border: solid black 2px;
  border-radius: 10px;
  padding: 0.5em 0.75em;
  transform: translateX(-50%);
}

.btn::before {
  content: "Marche"
}

.btn::after {
  content: "Pause";
  display: none;
}

.venom  {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
  height: 250px;
  background-image: url("https://ex.smnarnold.com/spritesheet/venom/sprite.png");
  background-size: 100% auto;

  animation-name: marche;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(3);
  animation-direction: alternate-reverse;
}

.is-walking .venom{
  animation-name: marche2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6);
}

.is-walking .btn::before {
  content: "Marche";
  display: none;
}

.is-walking .btn::after {
  content: "Pause";
  display: inline;
}

@keyframes marche {
  from { background-position: 0 0; }
  to { background-position: 0 -750px; }
}

@keyframes marche2 {
  from { background-position: 0 -1000px; }
  to { background-position: 0 -2500px; }
}
